@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

body {
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}
h1,
h2 {
  text-align: center;
}
.rps-img {
  border-radius: 10px;
  width: 100px;
  border: solid black 5px;
}
.player-selection {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
#result-box {
  /* border: solid red 2px; */
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 40px;
  padding: 25px;
}
.player-selection {
  /* border: solid yellow 2px; */
  padding: 2rem;
}
#rock-img,
#paper-img,
#scissors-img {
  transition: 100ms;
}
#rock-img:hover,
#paper-img:hover,
#scissors-img:hover {
  transform: scale(1.2);
}
#score-title {
  font-size: 35px;
  text-decoration: underline;
  margin-top: 35px;
  text-align: center;
}
.score-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  gap: 10rem;
}
#score-player {
  /* border: solid green 2px; */
  font-size: 40px;
}
#score-computer {
  /* border: solid blue 2px; */
  font-size: 40px;
}
#player-counter {
  font-size: 65px;
  padding-left: 35%;
}
#computer-counter {
  font-size: 65px;
  padding-left: 40%;
}
